<!-- Dashboard -->
<% include header %>
<script src="/js/custom.js"></script>
<main>
	<div id="tabDashboard" class="row">
	  <div class="col s12">
	    <ul class="tabs">
	    	<li class="tab col s2"><a class="active" href="#dashboard">DashBoard</a></li>
	    	<li class="tab col s2"><a href="#logs">Logs</a></li>
	      <li class="tab col s2"><a href="#stats">Stats</a></li>
	    </ul>
	  </div>
	  <div id="dashboard" class="container">
	  	<div class="col s12">
	  		<% if (user.fullName() != null) { %>
	  			<h3 class="left">Bienvenue <%- user.fullName()%></h3>
	  		<% } else { %>
		  		<h3 class="left">Bienvenue</h3>
		  	<% } %>
				<p class="right"><a class="btn-floating btn-medium waves-effect waves-light" href="/device/creatingPage"><i class="material-icons">add</i></a></p>
		  	<table>
	        <thead>
	          <tr>
	              <th data-field="id">#</th>
	              <th data-field="name">Device Name</th>
	              <th data-field="state">State</th>
	              <th data-field="state">Actions</th>
	              <th data-field="state">Connected</th>
	          </tr>
	        </thead>

	        <tbody>
	        <% for(var i=0; i<device.length; i++) { %>
			        <tr>
			        		<td><%= device[i].id %></td>
			        		<td><%= device[i].name %></td>
			        		<td><%= device[i].state %></td>
			        		<td>
			        			<i class="small material-icons">videocam</i>
			        		 	<% if(device[i].state == "closed") { %>
			        				<i class="small material-icons">lock_open</i>
			        			<% } else { %>
										<i class="small material-icons">lock_outline</i>
										<% } %>
										<i onclick="openEditDevice(<%= device[i] %>)" class="small material-icons">info_outline</i>
									</td>
									<td>
										<div style="width:15px; height:15px; background:#f44336; border-radius:7.5px;"></div>
									</td>
			        </tr>
			    <% } %>
	        </tbody>
				</table>
	  	</div>
	  </div>
	</div>

	<!-- Modal Structure -->
<div id="modal1" class="modal">
	<div class="modal-content">
		<h4>Information</h4>
		<p id="descriptionDevice"></p>
		<p id="test"></p>
	</div>
	<div class="modal-footer">
		<a class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
	</div>
</div>

<script type="text/javascript">
	function openEditDevice(device){
		var jsonreply = "'"+device+"'";
		var obj = $.parseJSON(jsonreply);
		console.log(obj);
		//console.log(JSON.stringify(device));
		//console.log(parseJSON(device));
		$('#descriptionDevice').text(device.text);
		$('#modal1').openModal();
	}
</script>

</main>
<% include footer %>
